<div class="collapse navbar-collapse dropdown " id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:home' %}">خانه</a>
      </li>
      {% for cat in category %}
        {% if cat.parent == None %}
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'blog:category' cat.slug %}">{{cat.title}}</a>
            {% if cat.children.active %}
              {% include 'partials/category_navbar_loop.html' %} 
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
      
  </ul>
</div>