{% extends 'base.html'  %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{article.thumbnail.url}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{article.title}}</h1>
          <span class="meta">Posted by
            <a href="#">hanieh_mav</a>
            {{article.jpublish}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

{% endblock %}

{% block content %}

 <!-- Post Content -->
<article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-justify">
          <p>
              {{article.description|safe}}
          </p>
        </div>
      </div>
    </div>
</article>

<hr>




{% endblock %}